<div class="container">
    <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Search for Weather</h1>
                <form [formGroup]="weatherSearch" (ngSubmit)="sendToAPI(weatherSearch.value)">
                    <div class="form-group">
                        <input 
                            class="form-control"
                            type="text"
                            id="location"
                            placeholder="Please Input a Location, (Example New York, NY | Orlando, FL | etc.)"
                            formControlName="location"
                            />
                    </div>
                    <div class="text-center">
                        <button 
                            type="submit"
                            class="btn btn-success btn-md">
                        Search for the Weather</button>
                        <br>
                        <!-- <button 
                            class="btn btn-danger" 
                            (click)="clearStoredWeatherData">
                        Clear History</button> -->
                    </div>
                </form>
                <hr>
                <div>
                    <h3 class="text-center">Weather Details</h3>
                    <div class="thumbnail">
                            <img 
                            src="{{ this.weatherData?.current.weather_icons }}" 
                            alt="{{ this.weatherData?.current.weather_descriptions }}">
                        <div class="caption">
                            <h3 class="text-center">Location Searched: <br>{{ this.weatherData?.location.name}}, {{ this.weatherData?.location.country}}.</h3>
                            <p class="text-center">Current Weather Conditions: {{ this.weatherData?.current.weather_descriptions }}</p>
                            <p class="text-center">Temperature in Degrees Farenheit: {{ this.weatherData?.current.temperature}} {{ this.weatherData?.request.unit}}</p>
                            <p class="text-center">Feels Like in Degrees Farenheit {{ this.weatherData?.current.feelslike}} {{ this.weatherData?.request.unit}}</p>
                            <p class="text-center">The Local Time is: {{ this.weatherData?.location.localtime}}</p>
                        </div>
                    </div>
                </div>
            </div>
            
        <hr>
        <div class="text-center"></div>
        <div class="row">
        <div class="col-md-3 col-md-4" *ngFor="let weather of weatherHistory">
            <div class="thumbnail">
                    <img 
                    src="{{ weather.current.weather_icons }}" 
                    alt="{{ weather.current.weather_descriptions }}">
                <div class="caption">
                    <h3 class="text-center">Location: <br>{{ weather.location.name}}, {{ weather.location.country}}.</h3>
                    <p class="text-center">Conditions: {{ weather.current.weather_descriptions }}</p>
                    <p class="text-center">Temperature / Farenheit: {{ weather.current.temperature}} {{ weather.request.unit}}</p>
                    <p class="text-center">Feels Like: {{ weather.current.feelslike}} {{ weather.request.unit}}</p>
                    <p class="text-center">Local Time: {{ weather.location.localtime}}</p>
                </div>
            </div>
    </div>
</div>